In [384]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

selng=pd.read_csv("./Desktop/데이터분석/SELNG.csv", delimiter='|')
cnfm_prmisn=pd.read_csv("./Desktop/데이터분석/CNFM_PRMISN.csv", delimiter='|',encoding='cp949')
rent_curprc=pd.read_csv("./Desktop/데이터분석/RENT_CURPRC.csv", delimiter='|')
blck_flpop=pd.read_csv("./Desktop/데이터분석/BLCK_FLPOP.csv", delimiter='|')
blck_dim=pd.read_csv("./Desktop/데이터분석/BLCK_DIM.csv", delimiter='|',encoding='cp949')
#파일 불러오기

In [385]:
selng.drop(['TA_YM'],axis='columns', inplace=True)
cnfm_prmisn.drop(['STDR_YM_CD','STOR_NM','SVC_INDUTY_CD','OLD_ADRES','NW_ADRES','TELNO','PROC_CLSS','ROAD_CD','XCNTS_VALUE','YDNTS_VALUE'],axis='columns', inplace=True)
rent_curprc.drop(['STDR_YY_CD','STDR_QU_CD','RENT_FLOOR_CD'],axis='columns', inplace=True)
blck_flpop.drop(['STDR_YM_CD'],axis='columns',inplace=True)
#분석할때 필요없는 데이터 정리, blck_flpop,selng 테이블은 좀 더 정리 필요

In [386]:
rent_curprc_con=(rent_curprc['CNVRSN_RNTCHRG']!=0)
#값이 '0'으로 존재하는 데이터의 경우를 제외

In [387]:
#BLCK_CD 기준으로 테이블 합쳐서 정렬(독립변수)->매출액을 기준으로(종속변수) 다중회귀분석 =>매출액 결정 요인의 분석
#->blck_flpop/selng 테이블 데이터 전처리에 신경써야할듯,,,
#RENT_CURPRC에서는 BLCK_CD 없으므로 블록영역정보 데이터(TBGIS_BLCK_RELM_INFO(34)나 BLCK_DIM(23))에서 BLCK_CD와 ADSTRD_CD 연결해야할듯
#시계열 분석 통해서 매출액 결정 요인/매출액 변화되는 양상 추정->예측=>K-군집분석으로 입지 유형의 분류
#입지선정

In [388]:
data_1=blck_flpop[blck_flpop['BLCK_CD'].isin(selng['BLCK_CD'].values)] #blck_cd가 겹치는 경우의 코드를 따로 추출
data_2=cnfm_prmisn[cnfm_prmisn['BLCK_CD'].isin(selng['BLCK_CD'].values)]
data_3=blck_dim[blck_dim['ADSTRD_CD'].isin(rent_curprc['ADSTRD_CD'].values)]
data_4=rent_curprc.set_index('ADSTRD_CD').join(data_3.set_index('ADSTRD_CD'), how='outer').reset_index()
#ADSTRD_CD와 BLCK_CD연결해서 RENT_CURPRC 수정
data_5=selng.set_index('BLCK_CD').join(data_1.set_index('BLCK_CD'), how='outer').reset_index()#코드 합치기
data_6=data_5.set_index('BLCK_CD').join(data_2.set_index('BLCK_CD'), how='outer').reset_index()#코드 합치기
data_7=data_6.set_index('BLCK_CD').join(data_4.set_index('BLCK_CD'), how='outer').reset_index()#최종 코드 합치기
#테이블 정리 및 합치기 끝(쓰레기값정리같은거는나중에직접돌려보고나서해야됨)

data_7

,BLCK_CD,KSIC_CD,MCT_CNT,AMT,CNT,MIN_AMT,MIN_CNT,MAX_AMT,MAX_CNT,TOT_FLPOP_CO,...,HOUS_ID,DW_REGIST_DT,FRC_YN,STD_INDCLES_INDUTY_CD,ADSTRD_CD,GTN_AVRG,MT_RNTCHRG_AVRG,CNVRSN_RNTCHRG,RENT_CO,BLCK_NM
0,10019.0,47413.0,1.0,5000000.0,1.0,5000000.0,1.0,5000000.0,1.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10019.0,47416.0,1.0,20158000.0,15.0,20158000.0,15.0,20158000.0,15.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10019.0,47420.0,1.0,1429000.0,3.0,1429000.0,3.0,1429000.0,3.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10019.0,47811.0,1.0,12668290.0,706.0,12688290.0,706.0,12688290.0,706.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10019.0,47813.0,1.0,400000.0,1.0,4000000.0,1.0,4000000.0,1.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10019.0,56111.0,1.0,6730000.0,6.0,6730000.0,6.0,6730000.0,6.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10019.0,56192.0,1.0,13411800.0,1449.0,13411800.0,1449.0,13411800.0,1449.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,10019.0,56219.0,1.0,6960000.0,5.0,6960000.0,5.0,6960000.0,5.0,18920.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,10186.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5888.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10717.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6416.94,...,NaN,NaN,NaN,NaN,11305610.0,1374212.0,56857.0,70599.0,62.0,NaN
10,182090.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,900000.0,17-SEP-19,N,56194.0,11680580.0,2005070.0,110672.0,130723.0,61.0,NaN
11,182090.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,900000.0,17-SEP-19,N,56220.0,11680580.0,2005070.0,110672.0,130723.0,61.0,NaN
12,182090.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,900000.0,17-SEP-19,N,56220.0,11680580.0,2005070.0,110672.0,130723.0,61.0,NaN
13,279653.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11680730.0,1563571.0,86396.0,102032.0,23.0,일원1동-W-27
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11305535.0,1414219.0,61389.0,75531.0,51.0,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11305645.0,1091208.0,61458.0,72370.0,38.0,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11680590.0,1783728.0,115689.0,133526.0,82.0,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11680610.0,1250058.0,94182.0,106682.0,83.0,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11680740.0,0.0,0.0,0.0,10.0,NaN